@tailwind base;
@tailwind components;
@tailwind utilities;

.ad-banner {
  position: relative;
  border: 1px solid #ccc;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.ad-banner img {
  max-width: 50%;
  height: auto;
  border-radius: 35px;
}

.bg-ad1 {
  background-color: #eeeff0;
}

.bg-ad2 {
  background-color: #e6e6fa;
}
